@import "partials/normalize";
@import "compass";
@import "compass/css3/filter";

html, body {
	width: 100%;
	height: 100%;
	font-size: 16px;
	font-family: "Open Sans", Helvetica, sans-serif;
}


header {
	width: 100%;
	min-height: 400px;
	height: 100%;
	max-height: 580px;
	position: relative;
	overflow: hidden;
	@include background-image(
		linear-gradient(top, rgba(36,54,42, 0.52) 0%, 
							 rgba(36,54,42, 0.51) 27.33%,
							 rgba(36,54,42, 0.50) 50%,
							 rgba(36,54,42, 0.51) 66.67%, 
							 rgba(36,54,42, 0.52) 100%)
	);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: white;
	overflow: hidden;
	
	.blur-container {
		width: 100%;
		min-height: 400px;
		height: 100%;
		max-height: 580px;
		position: fixed;
		z-index: -50;
		#blur {
			opacity: 0;
			// min-width: 100%;
			// min-height: 100%;
		}

	}

	.image-source {
		width: 100%;
		min-height: 400px;
		height: 100%;
		max-height: 580px;	
		// background-image: url('../images/yos.jpg');
		background-size: cover;
		background-repeat: no-repeat;	
		position: fixed;
		z-index: -100;
		overflow: hidden;
		img {
			min-width: 100%;
			min-height: 100%;
		}
	}




	.titles {
		position: absolute;
		left: 22%;
		right: 22%;
		bottom: 35%;

		h1 {	
			text-align: center;
			margin: 0;
			font-size: 3.3rem;
			opacity: 0.95;
			font-weight: 700;
			line-height: 1.2;
			text-shadow: 0px 0px 9px rgba(0, 0, 0, 0.2);
		}

		h2 {
			font-family: Merriweather, serif;
			font-weight: 300;
			text-align: center;
			margin-top: 0.8rem;
			font-size: 1.4rem;
			opacity: 0.85;
		}
	}

	.hide {
		visibility: hidden;
		opacity: 0;
	}


	.buttons {
		position: absolute;
		left: 22%;
		right: 22%;
		bottom: 0;
		padding: 23px 0;
		border-top: 2px solid rgba(white, 0.25);

		a {
			color: rgba(white, 0.75);
			text-decoration: none;
			text-transform: uppercase;
			padding: 25px 0;
			margin-right: 25px;
			font-size: 14px;
			
			&:first-child {
				color: rgba(white, 0.9);
				border-top: 2px solid rgba(white, 0.85);
			}

			&:hover {
				color: rgba(white, 0.9);
			}
		}
	}
}


section {
	background-color: white;
	color: rgba(55,45,45, .952);
	font-weight: 400;
	font-size: 1.15rem;
	padding: 5rem 22%;
	padding-top: 3rem;
	font-family: 'Merriweather',Garamond, Georgia, serif;
	line-height: 1.8;
	a {
		color: rgba(55,45,45, .952);
		text-decoration: none;
		border-bottom: 1px solid rgba(black, 0.5);
	}
	h3 {
		font-family: 'Open Sans', sans-serif;
		color: #222;
		font-size: 1.9rem;
		margin-bottom: 0.5rem;
	}
	p {
		margin-top: 0.4rem;
		margin-bottom: 2.1rem;
		&:first-child{
			padding-top: 1.8rem;
		}
	}
	ol {
		margin-top: -0.8rem;
		margin-left: 1rem;
		font-style: italic;
		margin-bottom: 2.1rem;
	}
}




